/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: fantasy  /* Declare the base font-family */
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width:20em; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header { 
}
header h1 {}
header img {}
header .subheading {}

nav {}
nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

main {font-size: 20px;
    color: rosybrown;
width: 1000px;
  margin: 10px auto;
  padding: 10px;
    font-family: fantasy;
}
main img {
     float: right
}
main h2 { font-size: 25px;
    text-align: center;
    border-bottom: 2px solid #bbb
}
h2 {
    font-size: 40px;
    color: red;
    text-align: center;
    border-bottom: 2px solid #0083e8;

}
h3 {
    font-size: 20px;
    color: red;
    text-align: center;
    border-bottom: 2px solid #bbb;

}
h4 {
    font-size: 20px;
    color: black;
    text-align: center;
    border-bottom: 2px solid #bbb;

}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {  height: auto;
    float: right}

footer{
font-size: 15px;
    color: chocolate;
  width: 900px;
  margin: 10px auto;
  padding: 30px;
  border-width: 10px;
    background-color: burlywood;
}    
